@charset "UTF-8";
@keyframes spin_checking {
  0% {
    transform: rotate(-270);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes menu_item {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

main h1 {
  font-family: "Shrikhand", "sans-serif";
}

.card_badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}

.card_menus {
  background-color: #f6f6f6;
}
.card_menus h2 {
  margin: auto 40px;
}
.card_menus .card {
  flex-grow: 1;
  width: 100%;
  max-width: 648px;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.card_menus_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card_menus_list {
  display: flex;
  justify-content: center;
  margin: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.card_menus_list .card + .card_img {
  flex-grow: 1;
}
.card_menus .card_img {
  height: 192px;
  width: 100%;
  min-width: 343px;
  border: 0 solid transparent;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card_menus_description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.card_menus_description h3, .card_menus_description p {
  margin: 0;
}
.card_menus_description i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  cursor: pointer;
}
.card_menus_description .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: transform 500ms;
}
.card_menus_description:hover .fas {
  opacity: 1;
  transform: scale(1);
}
.card_menus_description:hover .far {
  opacity: 0;
}

.card_Page_img {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.header_page {
  padding: 16px;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.fa-arrow-left {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 32px;
  top: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19.2px;
  color: #000;
  cursor: pointer;
}

.card_menu_container {
  margin: -64px 16px 0px 16px;
  border-radius: 16px 16px 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.card_menu_container_list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card_header {
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_order {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}
.card_order_btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.card_order_btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.card_sub_menu {
  flex-grow: 1;
  padding: 0 16px;
  max-width: 384px;
}
.card_sub_menu h2 {
  position: relative;
  font-weight: normal;
}
.card_sub_menu h2::before {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 30px;
}

.card_list_item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 100%;
  height: 70px;
  max-height: 70px;
}
.card_list_item p {
  margin: 0;
}
.card_list_item h3 {
  margin: 0;
}
.card_list_item_head {
  overflow: hidden;
}
.card_list_item h3 {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 16px;
}
.card_list_item p {
  margin-left: 16px;
  margin-bottom: 8px;
}

.card_item_price {
  display: flex;
  align-self: center;
  font-weight: 700;
}

.card_header_heart {
  position: relative;
}
.card_header_heart i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  cursor: pointer;
}
.card_header_heart .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: transform 500ms;
}
.card_header_heart:hover .fas {
  opacity: 1;
  transform: scale(1);
}
.card_header_heart:hover .far {
  opacity: 0;
}

.card_checking {
  display: flex;
  position: relative;
  background-color: #99E2D0;
  width: 64px;
  min-width: 64px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0px 12px 12px 0px;
}
.card_checking .fas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #99E2D0;
  background-color: #fff;
  border-radius: 100px;
  height: 25.6px;
  width: 25.6px;
}
.card_checking_icon {
  display: flex;
}

.card_list_item {
  animation: menu_item 0.5s both;
}
.card_list_item.one {
  animation-delay: 0s;
}
.card_list_item.two {
  animation-delay: 0.1s;
}
.card_list_item.three {
  animation-delay: 0.2s;
}
.card_list_item.four {
  animation-delay: 0.3s;
}
.card_list_item.five {
  animation-delay: 0.4s;
}
.card_list_item.six {
  animation-delay: 0.5s;
}
.card_list_item.seven {
  animation-delay: 0.6s;
}
.card_list_item.eight {
  animation-delay: 0.7s;
}
.card_list_item.nine {
  animation-delay: 0.8s;
}

/* MOBIL FIRST MEDIA QUERIES*/
.header {
  padding: 16px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.header_logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
  color: initial;
}

header a {
  text-decoration: none;
}

.local {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #f3f3f3;
  font-size: 19.2px;
  position: relative;
}

.local__text {
  font-weight: 700;
}

.book_menu {
  padding: 32px;
  text-align: center;
  background-color: #fafafa;
}
.book_menu h2 {
  width: 92%;
  font-size: 24px;
  margin: auto;
}
.book_menu._menu_title {
  margin: 0;
}
.book_menu._subtitle {
  font-weight: 300;
  margin: 24px 0;
}
.book_menu_sub-title {
  margin-bottom: 37px;
}

.book_btn {
  border: 0;
  padding: 15px 12px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 4px 4px 10px;
}

.container {
  margin: auto;
}

.function_container {
  display: flex;
  flex-direction: column;
}

.function {
  padding: 32px 0px;
}
.function ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: section;
  padding: 0;
}
.function ol li {
  padding: 24px;
  margin: 16px 0 16px 32px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  background-color: #f6f6f6;
  position: relative;
  flex-grow: 1;
  max-width: 400px;
  width: auto;
}
.function ol li::before {
  counter-increment: section;
  /* On incrémente le compteur section */
  content: counters(section, ".") " ";
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -12px;
}
.function_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.function_title {
  margin: auto 40px;
}

.fa-mobile-alt.fas, .fa-list-ul.fas, .fa-store.fas {
  margin-right: 16px;
  color: #7e7e7e;
}

.footer {
  background-color: #353535;
  display: flex;
  gap: 20vw;
  font-size: smaller;
  padding: 16px;
  flex-wrap: wrap;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
.footer_container {
  display: flex;
  flex-direction: column;
}
.footer span {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 19.2px;
  margin: 0 0 16px;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul a {
  color: #fff;
  text-decoration: none;
}
.footer li:first-child {
  margin-top: 0;
}
.footer li {
  margin: 8px 0;
}
.footer li:hover {
  text-decoration: underline;
}

.fa-utensils.fas, .fa-hands-helping.fas {
  width: 19.2px;
  margin-right: 8px;
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
