@keyframes spin_checking
{
0%
{
transform: rotate(-270);     
}
100%
{
transform: rotate(0);
}
}


@keyframes menu_item
{
0%
{
transform: translateY(50%);
opacity: 0;
}
100% 
{
transform: translateY(0%);
opacity: 1;
}
}