// Les mixins sont très similaires aux variables, mais au lieu de ne stocker que des valeurs, ils stockent des blocs de code entiers.
@mixin display-center 
{
    display: flex;
    justify-content: center;
}

@mixin button-background 
{
    background-image: linear-gradient(
    0deg,$primary,$secondary);
}
