// FOOTER
.footer{
  background-color: #353535;
  display: flex;
  gap: 20vw;
  font-size: smaller;
  flex-wrap: wrap;
  text-align: left;
  text-decoration: none;
  color: $footer_text;
  &__container {
      display: flex;
      flex-direction: column;
      margin: 16px;
  }
  span {
    color: $footer_text;
    font-family: Shrikhand,"cursive";
    font-size: 17px;
  }
  ul {
    list-style: none;
    padding: 16px 0;
    margin: 0;
    a {
      color: $footer_text;
      text-decoration: none;
      cursor: pointer;
      font-size: 15px;
    }  
  }
  li:first-child {
    margin-top: 0;
  }
  li {
    margin: 8px 0;
  &:hover {
      text-decoration: underline;
    }
  }
  & .fas {
    width:19.2px;
    margin-right:8px; 
    font-weight:900;
  } 
}