// Header 
.header {
    padding: 0.5px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1;
  a
    {
      text-decoration: none;
    }
    &__logo{
    font-family: 'Shrikhand',"cursive";
    text-align: center;
    color: initial;
  }
}
.local {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    font-size: 19.2px;
    position: relative;
  i
   {
    display: flex; 
    margin: auto 16px; 
    align-self: center;
    font-size: 16.2px;
   }
&__text{
    display: flex;
    color: #4b4b4b;
    flex-direction: row;
    font-weight: 700;
  h2{
  font-size: 16.2px;  
  } 
  } 
}