.loader {
  display:flex;
  background-color:rgba(255, 255, 255, 1);
  height:100%;
  position: fixed;
  z-index: 2;
  width: calc(100%);
  opacity: 1;
  animation:  2s fade-in  linear 1s forwards , 1s fade-out linear 3s forwards;
  &__container {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
    text-align:center;
    margin:auto;
  }
  &__text p { 
    font-size:50px;
  }
  &__text {
    font-family: "Shrikhand", "cursive";
    padding:0.5rem;
    background:linear-gradient($primary , $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &__quart { 
    margin-right:16px;  
    border-radius:50px;
    border: 6px solid
    rgba(255, 255, 255, 0.4);
    &:after {
      content:""; 
      position:absolute;    /* loader spin*/
      top:-6px;
      left:-6px;
      bottom:-6px;
      right:-6px; 
      border-radius:50px;
      border:6px solid rgba(0, 0, 0, 0.25); 
      border-top-color: #2bb391; 
      animation:1.5s spin linear infinite;
    } 
  }
  &__span {
    margin:0;
    width:50px;
    height:50px;
    display:flex;
    flex-wrap:wrap;
    position:relative;
  }
  &__title {
    display: flex;
    flex-direction: column;  
  }
  &__point {
    display:flex; 
    margin: auto;
    
    &--1 {
      background-color:$primary;
      font-size:8px;
      color:transparent;
      animation-name:point;
      animation-delay:0s;
    }
    &--2 {
      background-color:$secondary; 
      font-size:8px;
      color:transparent;
      animation-name:point;
      animation-delay:0.4s;
    }
    &--3 {
      background-color:$primary;
      font-size:8px;
      color:transparent;
      animation-name:point;
      animation-delay:0.6s;
    }
    &--1,&--2,&--3 {
      display:inline-block;
      align-self:center;
      justify-content:space-around; 
      margin-left:2px;
      margin-right:2px;
      border-radius:50%;
      width:5px;  
      animation:point 1.5s ease-in-out infinite;
    }
  }
}