// CARD MENU
.card_badge
{
  background-color: $card_badge_back_color;
  color: $card_badge_text_color;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.card_menus
  {
    background-color: $card_menu_color;
    h2
    {
      margin: auto 40px;
    }  
  & .card
  {
    flex-grow: 1;
    flex-basis: 33%;
    background-color: $card_color;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
  }
    &_container
  {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  &_list
  {
    display: flex;
    justify-content: center;
    margin:16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

      & .card + .card_img
    {
      flex-grow: 1;
    }
  }
  & .card_img
  {
    height: 192px;
    width: 100%;
    min-width: 343px;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  &_description
  {
    position: relative; 
    justify-content: space-between; 
    display: flex;
    flex-direction: row; 
    padding: 16px;

      h3, p
      {
        margin: 0;
      }
  }
}
.card_menus_description_title
  {
    display: flex;
    flex-direction: column;  
  }