/* MOBIL FIRST MEDIA QUERIES*/

@media screen and (min-width:768px) {
    .tutorial {
        div &__list  ol {
            justify-content: center;
            flex-direction:row;
        }  
        &__title  {
            @include display-center;
            align-items: center;
            margin: 0px 0px 18px;
            text-align: center;
        }
        &__menu {
            max-width:92%;
            margin:auto; 
        }
    }
    .loader {
        &__title {
        display: flex; 
        flex-direction: row; 
        }
        &__point {
        display:flex; 
        margin:0;
        }
    }
    .card_menus {                                  /*index menus */
        h2 {
            @include display-center;
        }
        .card {
            flex-grow: 0;
        }
    }
    .card_header {
        justify-content: center;
        h2  {
            margin:0px;
        }
    }
    .card_menu__sub {                             /*page menu*/
        max-width: 384px;
    }
    
}   