/* MOBIL FIRST MEDIA QUERIES*/

@media screen and (min-width:768px){
.tutorial {
            ol{
                justify-content: center;
                flex-direction:row;
                }
             &_list{
                flex-direction:row;
                }  
    
             &_title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 0px 18px;
            }
            }
.card_header {
            justify-content: center;
                h1  {
                    margin:0px;
                    }
                }
.card_menus{
             h2 {
                    display: flex;
                    justify-content: center;
                    margin: 0px;
                }
            .card {
                    flex-grow: 0;
                  }
        } 
}