// BODY
* {
  box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}
main h1 {
  font-size: 27px;
  margin-right: 26px;
  font-family: "Shrikhand", "sans-serif";
}
